aioredis==1.2.0
aniso8601==6.0.0
asgiref==3.1.2
async-timeout==2.0.1
attrs==19.1.0
autobahn==19.5.1
Automat==0.7.0
certifi==2019.3.9l
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
chat==1.0.7.dev136
Click==7.0
constantly==15.1.0
daphne==2.3.0
dj-database-url==0.5.0
Django==2.2.1
docutils==0.14
Flask==0.11.1
Flask-RESTful==0.3.6
Flask-Uploads==0.2.1
hiredis==1.0.0
hyperlink==19.0.0
ibm-cloud-sdk-core==0.4.2
ibm-watson==3.0.4
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.1
MarkupSafe==1.1.1
msgpack==0.6.1
msgpack-python==0.5.6
mysqlclient==1.4.2.post1
numpy==1.13.1
pandas==0.24.2
pbr==3.1.1
psycopg2-binary==2.8.2
py2neo==3.1.2
PyHamcrest==1.9.0
pypinyin==0.22.0
python-dateutil==2.8.0
pytz==2019.1
redis==2.10.6
requests==2.12.1
six==1.12.0
sqlparse==0.3.0
Twisted==19.2.0
txaio==18.8.1
urllib3==1.25.2
websocket-client==0.48.0
Werkzeug==0.15.4
xlrd==1.0.0
xlwt==1.2.0
zope.interface==4.6.0
gunicorn==19.9.0
anaconda==0.0.1.1
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
Django==2.2.3
django-jchart==0.4.2
django-redis==4.10.0
gunicorn==19.9.0
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
pandas==0.25.0
psycopg2-binary==2.8.3
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.1
redis==3.3.4
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.0
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
urllib3==1.25.3

